

header{
    text-align:center;
    background-color: blanchedalmond;
}
body{
    
    background-color: black;


}

#content{
    color:white;
    text-align: center;
}


footer{
    color:whitesmoke;
}