
*{
    padding: 0;
    margin: 0;
}
header{
    height: 8vh;
    text-align:center;
    background-color: blanchedalmond;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      80deg,
      #1c1c1c 0%,
      black 50%,
      white 50%,
      whitesmoke 100%
    );
  }
 
  

#content{
    height:89vh;
    display: flex;
    color:red;
    text-align: center;
}

.blackSpoon, .whiteSpoon{
    font-size: 3rem;
    width:50%;
    
}

.blackSpoon{
    color:white;
    text-align: end;

}

.whiteSpoon{
    color: black;
    text-align: start;
}

footer{
    background-color: white;
    height: 3vh;
    color:whitesmoke;
}